<div class="col-md-3 col-sm-6">
  <div class="dishes-item-container">
    <!-- Image Frame -->
    <div class="img-frame">
      <!-- Image -->
      <%= link_to recipe do %>
      <%= image_tag(recipe.recipe_image.url(:medium), class: "img-responsive")%>
      <!-- Block for on hover effect to image -->
      <% end %>
    </div>
    <!-- Dish Details -->
    <div class="dish-details">
      <!-- Heading -->
      <h3><%= link_to recipe.name, recipe %></h3>
      <!-- Paragraph -->
      <p><%= t('.recipe_created_by') %> <%= link_to recipe.user.name, recipe.user %>.</p>
      <ul class="media">
        <li><i class="fa fa-clock-o"></i>
          <%= recipe.preparation_time%> min.
        </li>
        <li><i class="fa fa-leaf"></i>
          <%= t(recipe.difficulty,
          scope: [:activerecord, :attributes, :recipe, :difficulties]) %>
        </li>
        <li><i class="fa fa-group"></i>
          <%= recipe.portion %>
        </li>
        <p><li><i class="fa fa-globe"></i> <%= recipe.cuisine.name %></li></p>
        <p><li><i class="fa fa-cutlery"></i> <%= recipe.meal.name%></li></p>
      </ul>
      <!-- Button -->
      <%= link_to t('.read_more'), recipe, class: 'btn btn-danger btn-sm' %>

      <% if defined?(crud_buttons) && crud_buttons %>
      <p>
        <%= link_to t('button.edit'), edit_recipe_path(recipe), class:"btn btn-warning btn-xs" %>
        <%= link_to t('button.delete'), recipe_path(recipe), method: :delete, class:"btn btn-danger btn-xs" %>
      </p>
      <% end %>
    </div>
  </div>
</div>
