<h3> <%= link_to recipe.name, recipe %> </h3>
<p> <%= recipe.meal.name%></p>
<p> <%= recipe.cuisine.name %></p>
<p>
    <%= t(recipe.difficulty , scope:[:activerecord,
                                    :attributes,
                                    :recipe,
                                    :difficulties]) %>
</p>
<% if logged_in? && authorize?(recipe.user) %>
  <%= link_to 'Editar', edit_recipe_path(recipe) %>
  <%= link_to 'Deletar', recipe_path(recipe), method: :delete %>
<% end %>
