<div class="row">
<div class="col-md-8 col-md-offset-2 col-sm-12">
  <%= form_for @recipe, html: {multipart: true} do |f| %>
    <fieldset class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </fieldset>

    <fieldset class="form-group">
      <%= f.label :cuisine_id %>
      <%= f.collection_select(:cuisine_id, @cuisine, :id, :name, { prompt: t(:select_cuisine, scope:[:select_prompt]) }, class: "form-control")%>
      <p class="help-block"><em>
        <%= t(:select_cuisines_example, scope:[:select_prompt])%>
      </em></p>
    </fieldset>

    <fieldset class="form-group">
      <%= f.label :meal_id %>
      <%= f.collection_select(:meal_id, @meal, :id, :name, { prompt: t(:select_meal, scope:[:select_prompt]) }, class: "form-control")%>
      <p class="help-block"><em>
        <%= t(:select_meals_example, scope:[:select_prompt])%>
      </em></p>
    </fieldset>

    <fieldset class="form-group">
      <%= f.label :portion %>
      <%= f.number_field :portion, value: 1, min: 1, set: 1, class: "form-control" %>
    </fieldset>

    <fieldset class="form-group">
      <%= f.label :preparation_time %>
      <%= f.number_field :preparation_time, value: 1, min: 1, set: 1, class: "form-control" %>
    </fieldset>

    <fieldset class="form-group">
      <%= f.label :difficulty%>
      <%= f.select :difficulty, options_for_select(@difficulties), { prompt: t(:select_difficulty, scope:[:select_prompt]) }, class: "form-control" %>
    </fieldset>

    <fieldset class="form-group">
      <%= f.label :recipe_image %>
      <%= f.file_field :recipe_image, class: "form-control" %>
    </fieldset>

    <fieldset class="form-group">
      <%= f.label :ingredients %>
      <%= f.text_area :ingredients, class: "form-control", rows: 5 %>
      <p class="help-block">Here goes some suggestion about the formatting</p>
    </fieldset>

    <fieldset class="form-group">
      <%= f.label :instructions %>
      <%= f.text_area :instructions, class: "form-control", rows: 7 %>
      <p class="help-block">Here goes some suggestion about the formatting</p>
    </fieldset>

    <%= f.submit class: "btn btn-primary"%>
  <% end %>
</div>
</div>
