<h1><%= @recipe.name %></h1>
<dl class="dl-horizontal">
  <p>
    <%= image_tag @recipe.recipe_image.url(:medium) %>
  </p>
  <p>
    <dt><%=t(:cuisine_id, scope: [:activerecord, :attributes, :recipe])%></dt>
    <dd><%= @recipe.cuisine.name %></dd>
  </p>
  <p>
    <dt><%=t(:meal_id, scope: [:activerecord, :attributes, :recipe])%></dt>
    <dd><%= @recipe.meal.name %></dd>
  </p>
  <p>
    <dt><%=t(:portion, scope: [:activerecord, :attributes, :recipe])%></dt>
    <dd><%= @recipe.portion %></dd>
  </p>
  <p>
    <dt><%=t(:preparation_time, scope: [:activerecord, :attributes, :recipe])%></dt>
    <dd><%= @recipe.preparation_time %></dd>
  </p>
  <p>
    <dt><%=t(:difficulty, scope: [:activerecord, :attributes, :recipe])%></dt>
    <dd><%= t(@recipe.difficulty, scope: [:activerecord, :attributes, :recipe, :difficulties]) %></dd>
  </p>
  <p>
    <dt><%=t(:ingredients, scope: [:activerecord, :attributes, :recipe])%></dt>
    <dd><%= @recipe.ingredients %></dd>
  </p>
  <p>
    <dt><%=t(:instructions, scope: [:activerecord, :attributes, :recipe])%></dt>
    <dd><%= @recipe.instructions %></dd>
  </p>
</dl>

<% if permition?(@recipe.user_id) %>
  <%= link_to 'Editar', edit_recipe_path(@recipe) %>
  <%= link_to 'Deletar', recipe_path(@recipe), method: :delete %>
<% end %>
