<h1><%= @recipe.name %></h1>
<dl class="dl-horizontal">
  <p>
    <%= image_tag @recipe.recipe_image.url(:medium) %>
  </p>
  <p>
    <dt><%=t(:created_by, scope: [:recipes, :show])%></dt>
    <dd><%= link_to @recipe.user.name, @recipe.user %></dd>
  </p>
  <p>
    <dt><%=t(:cuisine_id, scope: [:activerecord, :attributes, :recipe])%></dt>
    <dd><%= @recipe.cuisine.name %></dd>
  </p>
  <p>
    <dt><%=t(:meal_id, scope: [:activerecord, :attributes, :recipe])%></dt>
    <dd><%= @recipe.meal.name %></dd>
  </p>
  <p>
    <dt><%=t(:portion, scope: [:activerecord, :attributes, :recipe])%></dt>
    <dd><%= @recipe.portion %></dd>
  </p>
  <p>
    <dt><%=t(:preparation_time, scope: [:activerecord, :attributes, :recipe])%></dt>
    <dd><%= @recipe.preparation_time %></dd>
  </p>
  <p>
    <dt><%=t(:difficulty, scope: [:activerecord, :attributes, :recipe])%></dt>
    <dd><%= t(@recipe.difficulty, scope: [:activerecord, :attributes, :recipe, :difficulties]) %></dd>
  </p>
  <p>
    <dt><%=t(:ingredients, scope: [:activerecord, :attributes, :recipe])%></dt>
    <dd><%= @recipe.ingredients %></dd>
  </p>
  <p>
    <dt><%=t(:instructions, scope: [:activerecord, :attributes, :recipe])%></dt>
    <dd><%= @recipe.instructions %></dd>
  </p>
</dl>

<% if authorize?(@recipe.user) %>
  <%= link_to 'Editar', edit_recipe_path(@recipe) %>
  <%= link_to 'Deletar', recipe_path(@recipe), method: :delete %>
<% end %>

<%if logged_in? %>
  <%= link_to 'Favorite', favorite_recipe_path(@recipe, favorite: !favorited?), method: :put %>
  <%= form_tag share_recipe_path, method: :post, class:"navbar-form navbar-left" do %>
    <div class="form-group">
    <%= text_field_tag(:share_recipe_email, nil, placeholder:'Email', class:"form-control") %>
    <%= submit_tag(t(:share_recipe_email), name: nil, class:"btn btn-default") %>
    </div>
  <% end %>

<% end %>

