<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-12">
    <%= form_for @cuisine do |f| %>
    <fieldset class="form-group">
      <%= f.label :name %>
      <%= render partial: 'form_notification', locals: {object: @cuisine, field: :name} %>
      <%= f.text_field :name, class: "form-control" %>
      <p class="help-block"><em>
        <%= t(:select_cuisines_example, scope:[:select_prompt])%>
      </em></p>
    </fieldset>

    <%= f.submit class: "btn btn-primary"%>
    <% end %>
  </div>
</div>
