<div class="container">
  <div class="row">
    <div class="chefs padd">
      <div class="col-md-6 col-md-offset-3 col-sm-4">
        <div class="chefs-member">
          <h1>
            <% if current_user == @user %>
            <%= t('.welcome', name: current_user.name) %>
            <% else %>
            <%= @user.name %>
            <% end %>
          </h1>
          <span>
            <div class="contact-details">
              <!-- Address / Icon -->
              <%= fa_icon("map-marker", class: "fa-1x") %>
              <span><%= @user.city %></span>
              <div class="clearfix"></div>
              <!-- Email / Icon -->
              <%=link_to "mailto:#{@user.email}" do %>
              <%= fa_icon("envelope-o", class: "fa-1x") %>
              <%=@user.email%>
              <% end %>
              <div class="clearfix"></div>
            </div>
          </span>
          <!-- Social media links -->
          <div class="social">
            <%=link_to_if @user.facebook, fa_icon("facebook-square", class: "fa-2x"), "http://facebook.com/#{@user.facebook}", class:"facebook"%>
            <%=link_to_if @user.twitter, fa_icon("twitter", class: "fa-2x"), "http://twitter.com/#{@user.twitter}", class:"twitter" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="dishes padd">
  <div class="container">
    <div class="default-heading">
      <!-- Crown image -->
      <%= image_tag("crown.png", class: "img-responsive" )%>
      <!-- Heading -->
      <h2><%= t('.recipes_title', name: @user.name) %></h2>
      <!-- Border -->
      <div class="border"></div>
    </div>
    <div class="row">
      <%= render @user.recipes %>
    </div>

    <div class="default-heading">
      <!-- Crown image -->
      <%= image_tag("crown.png", class: "img-responsive" )%>
      <!-- Heading -->
      <h2><%= t('.favorites_title', name: @user.name) %></h2>
      <!-- Border -->
      <div class="border"></div>
    </div>
    <div class="row">
      <%= render @favorites %>
    </div>
  </div>
</div>
