<!DOCTYPE html>
<html>
  <head>
    <title><%= t :app_title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="header" class="">
      <%= render 'navbar' %>
      <% unless flash.empty? %>
        <%= render 'notification' %>
      <% end %>
    </header>

    <div class="container">
      <%= yield %>
    </div>

    <%= render 'footer' %>

  </body>
</html>
